/* CSS Spinner */
.loading-spinner {
  display: none; /* Sembunyikan spinner saat data sudah dimuat */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Latar belakang semi-transparan */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.spinner {
  border: 4px solid #f3f3f3; /* Warna latar belakang spinner */
  border-top: 4px solid #3498db; /* Warna bagian atas spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animasi berputar */
}

/* Animasi rotasi spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.container {
  padding: 150px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #e0e0e0;
  padding: 0.5rem 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card .header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem; 
  align-items: center;
}

.card .header a img, .card .header button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.card .header a, .card .header button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}

.card .header a:hover img, .card .header button:hover img {
  filter: hue-rotate(0deg) saturate(100%) brightness(75%) contrast(100%) sepia(100%) hue-rotate(0deg) saturate(100%) brightness(50%) contrast(200%) invert(20%) drop-shadow(0 0 5px rgb(65, 65, 65));
}

.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.card h1, .card h2, .card p {
  margin: 0;
}

.card h1 {
  font-weight: bold;
  font-size: 1.1rem;
}

.card h2 {
  font-weight: 600;
  font-size: 0.9rem;
  color: #888;
}

.card p {
  margin-top: 0.5rem;
  text-align: justify;
  font-size: 0.9rem;
}

.card button {
  margin-top: 0.5rem;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff6666;
}

.see-detail-button:hover {
  background-color: #555;
}

.add-button {
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #253c59;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  z-index: 1;
}

.add-button:hover {
  background-color: #3a5266;
}

.add-button h3 {
  font-size: 35px;
  font-weight: 400;
}

.filter-container {
  position: absolute;
  right: 10px;
  z-index: 1000;
}

.filter-dropdown {
  display: flex;
  align-items: center;
  padding: 5px;
}